:root {
    --color-highlight: #dd092f;
    --color-background: #f4f4f4;
    --card-background: #f9f9f2;
    --color-border: #4b4a4ac4;
    --color-pokedex: #dd092f;
    --color-pokedex-border: #AAABAB;
    --main: #f4f4f4CC;
}

@font-face { font-family: PokemonGb; src: url('PokemonGb-RAeo.ttf'); } 

body {
    font-family: 'PokemonGb', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--color-pokedex);
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.8rem;
    }
    
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    margin: 0.6rem 0;
}

#card-frame {
    background-color: var(--color-pokedex-border);
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    min-width: 100%;
}

#nav-frame {
    background-color: var(--color-pokedex-border);
    max-width: 95%;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 100%;
}

.card {
    background: var(--card-background);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    margin: 1rem;
}

.card img {
    max-width: 20vw;
    min-width: 20vw;
    max-height: 20vh;
    min-height: 20vh;
}

.card h1 {
    font-size: 1.5em;
    text-transform: capitalize;
}

.card h3 {
    font-size: 1.2em;
    text-transform: capitalize;
}

.card p {
    font-size: 1em;
    display: flex;
    flex-flow: row;
    text-align: left;
    justify-content: space-between;

}

.card a {
    text-decoration: none;
    color: var(--color-main);
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.card ul {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.card li {
    list-style: none;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: all .2s ease-in-out;
}

.card li:hover {
    transform: scale(1.12);
}

#card-image {
    animation: imageFlash 2s 3;
    animation-fill-mode: both;
}

@keyframes imageFlash {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#attributes-card {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3rem;
}

#attributes-card span {
    padding: 0.5rem;
}

.attribute-value {
    text-align: left;
}

.attribute-span {
    text-align: right;
}

.nav-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    background: var(--card-background);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%;
    margin: 1rem;
    padding: 0.5rem 2rem;
    gap: 0.5rem;
}

.nav-container a {
    text-decoration: none;
    color: var(--color-main);
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.nav-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
}

.nav-content .nav-image {
    width: 60px;
    height: 60px;
}

.nav-content span {
    font-size: 0.6rem;
    color: var(--color-border);
    padding: 0;
    margin: 0;
}

.btn {
    background-color: var(--color-pokedex-border);
    padding: 0.5em 1em;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: PokemonGb;
    width: 100%;
}

footer {
    max-width: 100vw;
    text-align: center;
    color: var(--card-background);
    font-size: 0.4rem;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

footer a {
    color: var(--card-background);
}