@font-face { font-family: PokemonGb; src: url('PokemonGb-RAeo.ttf'); } 

.container {
    display: flex;
    flex-flow: column nowrap;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem 2rem;
    margin: 0 10%;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.poke-icon {
  border-radius: 50%;
}


* {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  li {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    transition: all .2s ease-in-out;
    font-family: 'PokemonGb', sans-serif;
    font-size: 1em;
  }
  
  h3 {
    text-transform: capitalize;
  }
  
  li:hover {
    transform: scale(1.5);
  }

  #pokedex-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }