@font-face { font-family: PokemonGb; src: url('PokemonGb-RAeo.ttf'); } 

.container {
    display: flex;
    flex-flow: column nowrap;
}

.card {
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    background:#f9f9f2;
  }
  
  /* h1 {
    margin: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #089eca;
    font-size: 3em;
  } */
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  li {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 25%;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 70px;
    transition: all .2s ease-in-out;
    font-family: 'PokemonGb', sans-serif;
    font-size: 1em;
  }
  
  h3 {
    text-transform: capitalize;
  }
  
  li:hover {
    transform: scale(1.5);
  }

  #pokedex-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }